html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Ensure the body is at least the height of the viewport */
    background: url('img_dir/wallpaperflare.com_wallpaper (10).jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire viewport */
    /* Height of the header */
    /*padding: 0 0 0;*/
}

header, footer {
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Make header and footer stick to the top and bottom */
    top: 0; /* For header */
    z-index: 10; /* Ensure they are above other content */
}

header {
    /* Alternatively, for a subtler effect, you can use a very light translucent background */
    /*background-color: rgba(255, 255, 255, 0.05); /*Very light white translucent background*/
    /*background-color: transparent; !* Make the header fully transparent *!*/
    background-color: rgba(0, 0, 0, 0.7); /* Dark background for contrast */
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Changed from sticky to fixed */
    top: 0;
    width: 100%; /* Ensure the header spans the full width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Adds shadow for depth */
    z-index: 1000; /* High z-index to ensure header is above all other content */
    left: 0; /* Ensure it's aligned to the left */
    right: 0; /* Ensure it stretches to the right */
}


.logo a, .cart-icon a, nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 700; /* Make text bolder */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); /* Text shadow for depth */
}

.logo a:hover, .cart-icon a:hover, nav ul li a:hover {
    color: #ddd; /* Slight highlight effect on hover */
}

/* You can also add an underline or change color to make the hover effect more noticeable */
nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #a9d6ff; /* Light blue color on hover for better visibility */
}


.logo a {
    cursor: pointer; /* Shows the pointer hand icon when you hover over the link */
}

.logo img {
    display: block; /* This can help ensure the image is clickable */
    height: 50px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio of the image */
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 20px; /* Increase margin for better spacing */
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.cart-icon {
    font-size: 1.8em; /* Larger cart icon */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Set the color of the icon */
    text-decoration: none;
    transition: color 0.3s ease;
    background: none; /* Remove any background that might be causing shading */
    box-shadow: none; /* Remove any box shadow */
    text-shadow: none; /* Remove any text shadow */
    position: relative; /* Needed for absolute positioning of the item count */
}

.cart-icon a {
    color: white;
    text-decoration: none;
    font-size: 1.3em; /*!* Adjust the size of the icon *!*/
    padding: 0.5em;
    /*display: flex;*/
    align-items: center; /* Align the text and icon vertically */
    position: relative; /* Position relative for absolute positioning of children */
    display: inline-flex; /* Use inline-flex to keep the link inline */
    justify-content: center; /* Center badge horizontally */
}

.cart-icon .fa-shopping-cart {
    /*margin-right: 5px; !* Spacing between icon and text *!*/
    margin-right: 20px; /* Spacing between icon and text */
    /* Solid style icon but with a 'hollow' appearance */
    -webkit-text-stroke: 2px white; /* Creates an outline effect with the stroke */
    color: transparent; /* Makes the inside of the icon transparent */
}

.cart-icon a:hover {
    color: #ddd; /* Slight highlight effect on hover */
    transition: color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2); /* White background on hover */
    border-radius: 5px; /* Rounded corners for the hover background */
    padding: 0.5em; /* Padding to maintain size with new background */
}

.fas {
    font-weight: 900; /* FontAwesome solid style */
}


footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Keep the footer at the bottom of the viewport */
    margin-top: auto; /* Ensures that the footer is at the bottom */
    bottom: 0;
    width: 100%; /* Ensure the footer spans the full width */
    background-color: transparent; /* Make the footer completely transparent */
    z-index: 1000; /* Ensure the footer is above all other content */
    display: flex; /* Use flexbox to align the content */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
}


/* Adjust the padding of the main content so it doesn't get overlapped by the fixed footer */
/*main {*/
/*    padding-top: 80px; !* Adjust based on the actual height of your header *!*/
/*    padding-bottom: 70px; !* Adjust based on the actual height of your footer *!*/
/*}*/

main {
    /* Reduce the top padding to bring the content closer to the header */
    padding-top: 20px; /* Adjust as needed */
    padding-bottom: 20px; /* Adjust as needed */
}


.product-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adapts number of columns based on available width */
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 160px); /* Adjust height calculation based on header and footer size */
    align-content: stretch; /* Stretch the grid items vertically */
}

.category-card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; /* Makes it a flex container */
    align-items: center; /* Centers the link vertically */
    justify-content: center; /* Centers the link horizontally */
    background-size: cover; /* Cover the entire area of the card */
    background-position: center; /* Center the image within the card */
    position: relative; /* Position relative to allow absolute positioning inside */
    color: white; /* White text for better contrast */
    overflow: hidden;
}

.category-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); /* Increase the overlay opacity slightly */
    z-index: 1;
}

.category-card a {
    position: relative;
    z-index: 2;
    color: #fff; /* Ensures text is white */
    font-size: 1.8em; /* Slightly larger font size */
    font-weight: bold; /* Bolder font for better legibility */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Text shadow for better visibility */
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: block; /* Allows padding and center alignment to take effect */
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    .product-categories {
        grid-template-columns: 1fr; /* One column layout on smaller screens */
    }

    .category-card {
        padding: 20px; /* Less padding on smaller screens */
    }

    .category-card a {
        font-size: 1.4em; /* Smaller font size for smaller screens */
        padding: 10px;
    }

    header, footer {
        padding: 10px 0;
    }

    nav ul li {
        margin: 0 10px; /* Smaller margin for smaller screens */
    }

    .cart-icon {
        font-size: 1.5em; /* Smaller cart icon for smaller screens */
    }
}


.about-hero h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3em; /* Larger size for prominence */
    color: #FFFFFF; /* Bright color for the text */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Shadow for contrast */
    margin-bottom: 50px; /* Space before the next section */
    text-align: center;
}

.about-description, .about-features {
    background-color: rgba(255, 255, 255, 0.5); /* More transparent background */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-content {
    max-width: 1200px; /* Adjust the maximum width if needed */
    margin: auto;
    padding: 0 20px; /* Padding on the sides */
}

/* Adjust the hero section padding to not block the view */
.about-hero {
    /* Remove top padding */
    padding: 0 20px 20px;
}

/* Responsive adjustments for the hero section */
@media (max-width: 800px) {
    .about-hero h1 {
        font-size: 2em; /* Smaller font size for smaller screens */
    }
}


.contact-hero h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3em;
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
    text-align: center;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 20px; /* This will create space between the flex items */
}

.contact-information, .contact-form {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    flex-basis: 48%; /* Adjust the width of each column */
}

.contact-information ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-information li {
    padding: 10px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form form button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .contact-content {
        flex-direction: column;
        gap: 20px; /* Maintain gap on smaller screens */
    }

    .contact-information, .contact-form {
        flex-basis: 100%;
    }

    .contact-hero h1 {
        font-size: 2em; /* Smaller font size for smaller screens */
    }
}


.cart-hero {
    text-align: center;
    padding: 50px 20px;
    color: white;
    background-size: cover;
    background-position: center;
}

.cart-hero h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3em; /* Larger size for prominence */
    color: #FFFFFF; /* Bright color for the text */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Shadow for contrast */
    margin-bottom: 50px; /* Space before the next section */
}

.cart-content {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Add styles for cart items, totals, buttons, etc. */

/* Responsive adjustments */
@media (max-width: 800px) {
    .cart-hero h1 {
        font-size: 2em; /* Smaller font size for smaller screens */
    }

    .cart-content {
        padding: 0 20px; /* Padding on the sides */
    }
}


.products-hero {
    text-align: center;
    padding: 0 20px;
    color: white;
    background-size: cover;
    background-position: center;
}

.products-hero h1 {
    font-family: 'Poppins', Arial, sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    font-size: 2.5em; /* You can adjust the size for a more compact header */
    /* Remove the bottom margin if you want the title to be closer to the products */
    margin-bottom: 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Adjust as needed */
    position: relative; /* Position relative for absolutely positioned elements inside */
}

.product-image {
    width: 100%; /* Adjust the width as needed */
    /*height: auto; !* Maintain aspect ratio *!*/
    /*object-fit: contain; !* Ensure the image is scaled correctly *!*/
    border-radius: 5px;

    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Cover the area without stretching the image */
    margin-bottom: 10px; /* Add space below the image */
}

.product-name {
    font-size: 1.2em;
    /*margin: 10px 0;*/

    margin: 5px 0;
}

.product-price {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .products-hero h1 {
        font-size: 2em;
    }

    .products-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .product-image {
        height: 200px; /* Larger fixed height on smaller screens */
    }
}


.add-button, .minus-button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

    flex-grow: 1; /* Buttons grow to fill the container */
}

.minus-button {
    background-color: #ff4136;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position it at the bottom of the card */
    bottom: 10px; /* Space from the bottom */
    width: 100%; /* Full width of the card */
}


.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px; /* Set width as necessary */
    height: 100px; /* Set height as necessary */
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-name {
    flex-grow: 1;
    /* additional styling */
}


.cart-item-quantity-container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Stack price and quantity vertically */
    /* Align the stacked items to the right */
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.cart-item-quantity-container {
    margin-top: auto; /* Push the quantity controls to the bottom */
}

.cart-item-price {
    align-self: flex-end; /* Aligns this item to the end of the flex container */
    margin-right: 10px; /* Adjust the space from the right as needed */
}

.cart-minus-button,
.cart-plus-button {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-quantity {
    padding: 2px 10px; /* Make the quantity look like an input field */
    border: 1px solid #007bff;
    margin: 5px;
}
